/.tmp/
/.tmp/**/*.*
/npm-debug.log
/src/build/**/*.js
/src/bower_components/
/.bower-cache/
/.bower-registry/
/.bower-tmp/
/node_modules/
/src/css/
/build/
/src/.jshintrc
/npm_test.bat
/npm_test_debug.bat
/nbproject/*
/src/nbproject/*
.idea
/*.sublime-project
/*.sublime-workspace
