
    <select class="form-control" id="" name="timezone">
        <option value="0">
            (GMT+0) Africa/Abidjan
        </option>

        <option value="0">
            (GMT+0) Africa/Accra
        </option>

        <option value="0">
            (GMT+0) Africa/Bamako
        </option>

        <option value="0">
            (GMT+0) Africa/Banjul
        </option>

        <option value="0">
            (GMT+0) Africa/Bissau
        </option>

        <option value="0">
            (GMT+0) Africa/Conakry
        </option>

        <option value="0">
            (GMT+0) Africa/Dakar
        </option>

        <option value="0">
            (GMT+0) Africa/Freetown
        </option>

        <option value="0">
            (GMT+0) Africa/Lome
        </option>

        <option value="0">
            (GMT+0) Africa/Monrovia
        </option>

        <option value="0">
            (GMT+0) Africa/Nouakchott
        </option>

        <option value="0">
            (GMT+0) Africa/Ouagadougou
        </option>

        <option value="0">
            (GMT+0) Africa/Sao_Tome
        </option>

        <option value="0">
            (GMT+0) America/Danmarkshavn
        </option>

        <option value="0">
            (GMT+0) America/Scoresbysund
        </option>

        <option value="0">
            (GMT+0) Atlantic/Azores
        </option>

        <option value="0">
            (GMT+0) Atlantic/Reykjavik
        </option>

        <option value="0">
            (GMT+0) Atlantic/St_Helena
        </option>

        <option value="1">
            (GMT+1) Africa/Algiers
        </option>

        <option value="1">
            (GMT+1) Africa/Bangui
        </option>

        <option value="1">
            (GMT+1) Africa/Brazzaville
        </option>

        <option value="1">
            (GMT+1) Africa/Casablanca
        </option>

        <option value="1">
            (GMT+1) Africa/Douala
        </option>

        <option value="1">
            (GMT+1) Africa/El_Aaiun
        </option>

        <option value="1">
            (GMT+1) Africa/Kinshasa
        </option>

        <option value="1">
            (GMT+1) Africa/Lagos
        </option>

        <option value="1">
            (GMT+1) Africa/Libreville
        </option>

        <option value="1">
            (GMT+1) Africa/Luanda
        </option>

        <option value="1">
            (GMT+1) Africa/Malabo
        </option>

        <option value="1">
            (GMT+1) Africa/Ndjamena
        </option>

        <option value="1">
            (GMT+1) Africa/Porto-Novo
        </option>

        <option value="1">
            (GMT+1) Africa/Tunis
        </option>

        <option value="1">
            (GMT+1) Africa/Windhoek
        </option>

        <option value="1">
            (GMT+1) Atlantic/Canary
        </option>

        <option value="1">
            (GMT+1) Atlantic/Faroe
        </option>

        <option value="1">
            (GMT+1) Atlantic/Madeira
        </option>

        <option value="1">
            (GMT+1) Europe/Dublin
        </option>

        <option value="1">
            (GMT+1) Europe/Guernsey
        </option>

        <option value="1">
            (GMT+1) Europe/Isle_of_Man
        </option>

        <option value="1">
            (GMT+1) Europe/Jersey
        </option>

        <option value="1">
            (GMT+1) Europe/Lisbon
        </option>

        <option value="1">
            (GMT+1) Europe/London
        </option>

        <option value="10">
            (GMT+10) Antarctica/DumontDUrville
        </option>

        <option value="10">
            (GMT+10) Asia/Khandyga
        </option>

        <option value="10">
            (GMT+10) Asia/Yakutsk
        </option>

        <option value="10">
            (GMT+10) Australia/Brisbane
        </option>

        <option value="10">
            (GMT+10) Australia/Currie
        </option>

        <option value="10">
            (GMT+10) Australia/Hobart
        </option>

        <option value="10">
            (GMT+10) Australia/Lindeman
        </option>

        <option value="10">
            (GMT+10) Australia/Melbourne
        </option>

        <option value="10">
            (GMT+10) Australia/Sydney
        </option>

        <option value="10">
            (GMT+10) Pacific/Chuuk
        </option>

        <option value="10">
            (GMT+10) Pacific/Guam
        </option>

        <option value="10">
            (GMT+10) Pacific/Port_Moresby
        </option>

        <option value="10">
            (GMT+10) Pacific/Saipan
        </option>

        <option value="10.5">
            (GMT+10.5) Australia/Lord_Howe
        </option>

        <option value="11">
            (GMT+11) Antarctica/Macquarie
        </option>

        <option value="11">
            (GMT+11) Asia/Sakhalin
        </option>

        <option value="11">
            (GMT+11) Asia/Ust-Nera
        </option>

        <option value="11">
            (GMT+11) Asia/Vladivostok
        </option>

        <option value="11">
            (GMT+11) Pacific/Efate
        </option>

        <option value="11">
            (GMT+11) Pacific/Guadalcanal
        </option>

        <option value="11">
            (GMT+11) Pacific/Kosrae
        </option>

        <option value="11">
            (GMT+11) Pacific/Noumea
        </option>

        <option value="11">
            (GMT+11) Pacific/Pohnpei
        </option>

        <option value="11.5">
            (GMT+11.5) Pacific/Norfolk
        </option>

        <option value="12">
            (GMT+12) Antarctica/McMurdo
        </option>

        <option value="12">
            (GMT+12) Asia/Anadyr
        </option>

        <option value="12">
            (GMT+12) Asia/Kamchatka
        </option>

        <option value="12">
            (GMT+12) Asia/Magadan
        </option>

        <option value="12">
            (GMT+12) Pacific/Auckland
        </option>

        <option value="12">
            (GMT+12) Pacific/Fiji
        </option>

        <option value="12">
            (GMT+12) Pacific/Funafuti
        </option>

        <option value="12">
            (GMT+12) Pacific/Kwajalein
        </option>

        <option value="12">
            (GMT+12) Pacific/Majuro
        </option>

        <option value="12">
            (GMT+12) Pacific/Nauru
        </option>

        <option value="12">
            (GMT+12) Pacific/Tarawa
        </option>

        <option value="12">
            (GMT+12) Pacific/Wake
        </option>

        <option value="12">
            (GMT+12) Pacific/Wallis
        </option>

        <option value="12.75">
            (GMT+12.75) Pacific/Chatham
        </option>

        <option value="13">
            (GMT+13) Pacific/Apia
        </option>

        <option value="13">
            (GMT+13) Pacific/Enderbury
        </option>

        <option value="13">
            (GMT+13) Pacific/Fakaofo
        </option>

        <option value="13">
            (GMT+13) Pacific/Tongatapu
        </option>

        <option value="14">
            (GMT+14) Pacific/Kiritimati
        </option>

        <option value="2">
            (GMT+2) Africa/Blantyre
        </option>

        <option value="2">
            (GMT+2) Africa/Bujumbura
        </option>

        <option value="2">
            (GMT+2) Africa/Cairo
        </option>

        <option value="2">
            (GMT+2) Africa/Ceuta
        </option>

        <option value="2">
            (GMT+2) Africa/Gaborone
        </option>

        <option value="2">
            (GMT+2) Africa/Harare
        </option>

        <option value="2">
            (GMT+2) Africa/Johannesburg
        </option>

        <option value="2">
            (GMT+2) Africa/Kigali
        </option>

        <option value="2">
            (GMT+2) Africa/Lubumbashi
        </option>

        <option value="2">
            (GMT+2) Africa/Lusaka
        </option>

        <option value="2">
            (GMT+2) Africa/Maputo
        </option>

        <option value="2">
            (GMT+2) Africa/Maseru
        </option>

        <option value="2">
            (GMT+2) Africa/Mbabane
        </option>

        <option value="2">
            (GMT+2) Africa/Tripoli
        </option>

        <option value="2">
            (GMT+2) Europe/Amsterdam
        </option>

        <option value="2">
            (GMT+2) Europe/Andorra
        </option>

        <option value="2">
            (GMT+2) Europe/Belgrade
        </option>

        <option value="2">
            (GMT+2) Europe/Berlin
        </option>

        <option value="2">
            (GMT+2) Europe/Bratislava
        </option>

        <option value="2">
            (GMT+2) Europe/Brussels
        </option>

        <option value="2">
            (GMT+2) Europe/Budapest
        </option>

        <option value="2">
            (GMT+2) Europe/Busingen
        </option>

        <option value="2">
            (GMT+2) Europe/Copenhagen
        </option>

        <option value="2">
            (GMT+2) Europe/Gibraltar
        </option>

        <option value="2">
            (GMT+2) Europe/Ljubljana
        </option>

        <option value="2">
            (GMT+2) Europe/Luxembourg
        </option>

        <option value="2">
            (GMT+2) Europe/Madrid
        </option>

        <option value="2">
            (GMT+2) Europe/Malta
        </option>

        <option value="2">
            (GMT+2) Europe/Monaco
        </option>

        <option value="2">
            (GMT+2) Europe/Oslo
        </option>

        <option value="2">
            (GMT+2) Europe/Paris
        </option>

        <option value="2">
            (GMT+2) Europe/Podgorica
        </option>

        <option value="2">
            (GMT+2) Europe/Prague
        </option>

        <option value="2">
            (GMT+2) Europe/Rome
        </option>

        <option value="2">
            (GMT+2) Europe/San_Marino
        </option>

        <option value="2">
            (GMT+2) Europe/Sarajevo
        </option>

        <option value="2">
            (GMT+2) Europe/Skopje
        </option>

        <option value="2">
            (GMT+2) Europe/Stockholm
        </option>

        <option value="2">
            (GMT+2) Europe/Tirane
        </option>

        <option value="2">
            (GMT+2) Europe/Vaduz
        </option>

        <option value="2">
            (GMT+2) Europe/Vatican
        </option>

        <option value="2">
            (GMT+2) Europe/Vienna
        </option>

        <option value="2">
            (GMT+2) Europe/Warsaw
        </option>

        <option value="2">
            (GMT+2) Europe/Zagreb
        </option>

        <option value="2">
            (GMT+2) Europe/Zurich
        </option>

        <option value="3">
            (GMT+3) Africa/Addis_Ababa
        </option>

        <option value="3">
            (GMT+3) Africa/Asmara
        </option>

        <option value="3">
            (GMT+3) Africa/Dar_es_Salaam
        </option>

        <option value="3">
            (GMT+3) Africa/Djibouti
        </option>

        <option value="3">
            (GMT+3) Africa/Juba
        </option>

        <option value="3">
            (GMT+3) Africa/Kampala
        </option>

        <option value="3">
            (GMT+3) Africa/Khartoum
        </option>

        <option value="3">
            (GMT+3) Africa/Mogadishu
        </option>

        <option value="3">
            (GMT+3) Africa/Nairobi
        </option>

        <option value="3">
            (GMT+3) Antarctica/Syowa
        </option>

        <option value="3">
            (GMT+3) Asia/Aden
        </option>

        <option value="3">
            (GMT+3) Asia/Amman
        </option>

        <option value="3">
            (GMT+3) Asia/Baghdad
        </option>

        <option value="3">
            (GMT+3) Asia/Bahrain
        </option>

        <option value="3">
            (GMT+3) Asia/Beirut
        </option>

        <option value="3">
            (GMT+3) Asia/Damascus
        </option>

        <option value="3">
            (GMT+3) Asia/Gaza
        </option>

        <option value="3">
            (GMT+3) Asia/Hebron
        </option>

        <option value="3">
            (GMT+3) Asia/Jerusalem
        </option>

        <option value="3">
            (GMT+3) Asia/Kuwait
        </option>

        <option value="3">
            (GMT+3) Asia/Nicosia
        </option>

        <option value="3">
            (GMT+3) Asia/Qatar
        </option>

        <option value="3">
            (GMT+3) Asia/Riyadh
        </option>

        <option value="3">
            (GMT+3) Europe/Athens
        </option>

        <option value="3">
            (GMT+3) Europe/Bucharest
        </option>

        <option value="3">
            (GMT+3) Europe/Chisinau
        </option>

        <option value="3">
            (GMT+3) Europe/Helsinki
        </option>

        <option value="3">
            (GMT+3) Europe/Istanbul
        </option>

        <option value="3">
            (GMT+3) Europe/Kaliningrad
        </option>

        <option value="3">
            (GMT+3) Europe/Kiev
        </option>

        <option value="3">
            (GMT+3) Europe/Mariehamn
        </option>

        <option value="3">
            (GMT+3) Europe/Minsk
        </option>

        <option value="3">
            (GMT+3) Europe/Riga
        </option>

        <option value="3">
            (GMT+3) Europe/Simferopol
        </option>

        <option value="3">
            (GMT+3) Europe/Sofia
        </option>

        <option value="3">
            (GMT+3) Europe/Tallinn
        </option>

        <option value="3">
            (GMT+3) Europe/Uzhgorod
        </option>

        <option value="3">
            (GMT+3) Europe/Vilnius
        </option>

        <option value="3">
            (GMT+3) Europe/Zaporozhye
        </option>

        <option value="3">
            (GMT+3) Indian/Antananarivo
        </option>

        <option value="3">
            (GMT+3) Indian/Comoro
        </option>

        <option value="3">
            (GMT+3) Indian/Mayotte
        </option>

        <option value="4">
            (GMT+4) Asia/Dubai
        </option>

        <option value="4">
            (GMT+4) Asia/Muscat
        </option>

        <option value="4">
            (GMT+4) Asia/Tbilisi
        </option>

        <option value="4">
            (GMT+4) Asia/Yerevan
        </option>

        <option value="4">
            (GMT+4) Europe/Moscow
        </option>

        <option value="4">
            (GMT+4) Europe/Samara
        </option>

        <option value="4">
            (GMT+4) Europe/Volgograd
        </option>

        <option value="4">
            (GMT+4) Indian/Mahe
        </option>

        <option value="4">
            (GMT+4) Indian/Mauritius
        </option>

        <option value="4">
            (GMT+4) Indian/Reunion
        </option>

        <option value="4.5">
            (GMT+4.5) Asia/Kabul
        </option>

        <option value="4.5">
            (GMT+4.5) Asia/Tehran
        </option>

        <option value="5">
            (GMT+5) Antarctica/Mawson
        </option>

        <option value="5">
            (GMT+5) Asia/Aqtau
        </option>

        <option value="5">
            (GMT+5) Asia/Aqtobe
        </option>

        <option value="5">
            (GMT+5) Asia/Ashgabat
        </option>

        <option value="5">
            (GMT+5) Asia/Baku
        </option>

        <option value="5">
            (GMT+5) Asia/Dushanbe
        </option>

        <option value="5">
            (GMT+5) Asia/Karachi
        </option>

        <option value="5">
            (GMT+5) Asia/Oral
        </option>

        <option value="5">
            (GMT+5) Asia/Samarkand
        </option>

        <option value="5">
            (GMT+5) Asia/Tashkent
        </option>

        <option value="5">
            (GMT+5) Indian/Kerguelen
        </option>

        <option value="5">
            (GMT+5) Indian/Maldives
        </option>

        <option value="5.5">
            (GMT+5.5) Asia/Colombo
        </option>

        <option value="5.5">
            (GMT+5.5) Asia/Kolkata
        </option>

        <option value="5.75">
            (GMT+5.75) Asia/Kathmandu
        </option>

        <option value="6">
            (GMT+6) Antarctica/Vostok
        </option>

        <option value="6">
            (GMT+6) Asia/Almaty
        </option>

        <option value="6">
            (GMT+6) Asia/Bishkek
        </option>

        <option value="6">
            (GMT+6) Asia/Dhaka
        </option>

        <option value="6">
            (GMT+6) Asia/Qyzylorda
        </option>

        <option value="6">
            (GMT+6) Asia/Thimphu
        </option>

        <option value="6">
            (GMT+6) Asia/Yekaterinburg
        </option>

        <option value="6">
            (GMT+6) Indian/Chagos
        </option>

        <option value="6.5">
            (GMT+6.5) Asia/Rangoon
        </option>

        <option value="6.5">
            (GMT+6.5) Indian/Cocos
        </option>

        <option value="7">
            (GMT+7) Antarctica/Davis
        </option>

        <option value="7">
            (GMT+7) Asia/Bangkok
        </option>

        <option value="7">
            (GMT+7) Asia/Ho_Chi_Minh
        </option>

        <option value="7">
            (GMT+7) Asia/Hovd
        </option>

        <option value="7">
            (GMT+7) Asia/Jakarta
        </option>

        <option value="7">
            (GMT+7) Asia/Novokuznetsk
        </option>

        <option value="7">
            (GMT+7) Asia/Novosibirsk
        </option>

        <option value="7">
            (GMT+7) Asia/Phnom_Penh
        </option>

        <option value="7">
            (GMT+7) Asia/Pontianak
        </option>

        <option value="7">
            (GMT+7) Asia/Vientiane
        </option>

        <option value="7">
            (GMT+7) Indian/Christmas
        </option>

        <option value="8">
            (GMT+8) Antarctica/Casey
        </option>

        <option value="8">
            (GMT+8) Asia/Brunei
        </option>

        <option value="8">
            (GMT+8) Asia/Choibalsan
        </option>

        <option value="8">
            (GMT+8) Asia/Chongqing
        </option>

        <option value="8">
            (GMT+8) Asia/Harbin
        </option>

        <option value="8">
            (GMT+8) Asia/Hong_Kong
        </option>

        <option value="8">
            (GMT+8) Asia/Kashgar
        </option>

        <option value="8">
            (GMT+8) Asia/Krasnoyarsk
        </option>

        <option value="8">
            (GMT+8) Asia/Kuala_Lumpur
        </option>

        <option value="8">
            (GMT+8) Asia/Kuching
        </option>

        <option value="8">
            (GMT+8) Asia/Macau
        </option>

        <option value="8">
            (GMT+8) Asia/Makassar
        </option>

        <option value="8">
            (GMT+8) Asia/Manila
        </option>

        <option value="8">
            (GMT+8) Asia/Shanghai
        </option>

        <option value="8">
            (GMT+8) Asia/Singapore
        </option>

        <option value="8">
            (GMT+8) Asia/Taipei
        </option>

        <option value="8">
            (GMT+8) Asia/Ulaanbaatar
        </option>

        <option value="8">
            (GMT+8) Asia/Urumqi
        </option>

        <option value="8">
            (GMT+8) Australia/Perth
        </option>

        <option value="8.75">
            (GMT+8.75) Australia/Eucla
        </option>

        <option value="9">
            (GMT+9) Asia/Dili
        </option>

        <option value="9">
            (GMT+9) Asia/Irkutsk
        </option>

        <option value="9">
            (GMT+9) Asia/Jayapura
        </option>

        <option value="9">
            (GMT+9) Asia/Pyongyang
        </option>

        <option value="9">
            (GMT+9) Asia/Seoul
        </option>

        <option value="9">
            (GMT+9) Asia/Tokyo
        </option>

        <option value="9">
            (GMT+9) Pacific/Palau
        </option>

        <option value="9.5">
            (GMT+9.5) Australia/Adelaide
        </option>

        <option value="9.5">
            (GMT+9.5) Australia/Broken_Hill
        </option>

        <option value="9.5">
            (GMT+9.5) Australia/Darwin
        </option>

        <option value="-1">
            (GMT-1) Atlantic/Cape_Verde
        </option>

        <option value="-10">
            (GMT-10) Pacific/Johnston
        </option>

        <option value="-10">
            (GMT-10) Pacific/Rarotonga
        </option>

        <option value="-10">
            (GMT-10) Pacific/Tahiti
        </option>

        <option value="-11">
            (GMT-11) Pacific/Midway
        </option>

        <option value="-11">
            (GMT-11) Pacific/Niue
        </option>

        <option value="-11">
            (GMT-11) Pacific/Pago_Pago
        </option>

        <option value="-2">
            (GMT-2) America/Godthab
        </option>

        <option value="-2">
            (GMT-2) America/Miquelon
        </option>

        <option value="-2">
            (GMT-2) America/Noronha
        </option>

        <option value="-2">
            (GMT-2) Atlantic/South_Georgia
        </option>

        <option value="-3">
            (GMT-3)
        </option>

        <option value="-3">
            (GMT-3) America/Araguaina
        </option>

        <option value="-3">
            (GMT-3) America/Argentina/Buenos_Aires
        </option>

        <option value="-3">
            (GMT-3) America/Argentina/Catamarca
        </option>

        <option value="-3">
            (GMT-3) America/Argentina/Cordoba
        </option>

        <option value="-3">
            (GMT-3) America/Argentina/Jujuy
        </option>

        <option value="-3">
            (GMT-3) America/Argentina/La_Rioja
        </option>

        <option value="-3">
            (GMT-3) America/Argentina/Mendoza
        </option>

        <option value="-3">
            (GMT-3) America/Argentina/Rio_Gallegos
        </option>

        <option value="-3">
            (GMT-3) America/Argentina/Salta
        </option>

        <option value="-3">
            (GMT-3) America/Argentina/San_Juan
        </option>

        <option value="-3">
            (GMT-3) America/Argentina/San_Luis
        </option>

        <option value="-3">
            (GMT-3) America/Argentina/Tucuman
        </option>

        <option value="-3">
            (GMT-3) America/Argentina/Ushuaia
        </option>

        <option value="-3">
            (GMT-3) America/Bahia
        </option>

        <option value="-3">
            (GMT-3) America/Belem
        </option>

        <option value="-3">
            (GMT-3) America/Cayenne
        </option>

        <option value="-3">
            (GMT-3) America/Fortaleza
        </option>

        <option value="-3">
            (GMT-3) America/Maceio
        </option>

        <option value="-3">
            (GMT-3) America/Montevideo
        </option>

        <option value="-3">
            (GMT-3) America/Paramaribo
        </option>

        <option value="-3">
            (GMT-3) America/Recife
        </option>

        <option value="-3">
            (GMT-3) America/Santarem
        </option>

        <option value="-3">
            (GMT-3) America/Sao_Paulo
        </option>

        <option value="-3">
            (GMT-3) America/Thule
        </option>

        <option value="-3">
            (GMT-3) Antarctica/Rothera
        </option>

        <option value="-3">
            (GMT-3) Atlantic/Bermuda
        </option>

        <option value="-3">
            (GMT-3) Atlantic/Stanley
        </option>

        <option value="-4">
            (GMT-4) (Eastern Standard Time) EST
        </option>

        <option value="-4">
            (GMT-4) America/Anguilla
        </option>

        <option value="-4">
            (GMT-4) America/Antigua
        </option>

        <option value="-4">
            (GMT-4) America/Aruba
        </option>

        <option value="-4">
            (GMT-4) America/Asuncion
        </option>

        <option value="-4">
            (GMT-4) America/Barbados
        </option>

        <option value="-4">
            (GMT-4) America/Boa_Vista
        </option>

        <option value="-4">
            (GMT-4) America/Campo_Grande
        </option>

        <option value="-4">
            (GMT-4) America/Cuiaba
        </option>

        <option value="-4">
            (GMT-4) America/Curacao
        </option>

        <option value="-4">
            (GMT-4) America/Dominica
        </option>

        <option value="-4">
            (GMT-4) America/Grand_Turk
        </option>

        <option value="-4">
            (GMT-4) America/Grenada
        </option>

        <option value="-4">
            (GMT-4) America/Guadeloupe
        </option>

        <option value="-4">
            (GMT-4) America/Guyana
        </option>

        <option value="-4">
            (GMT-4) America/Havana
        </option>

        <option value="-4">
            (GMT-4) America/Kralendijk
        </option>

        <option value="-4">
            (GMT-4) America/La_Paz
        </option>

        <option value="-4">
            (GMT-4) America/Lower_Princes
        </option>

        <option value="-4">
            (GMT-4) America/Manaus
        </option>

        <option value="-4">
            (GMT-4) America/Marigot
        </option>

        <option value="-4">
            (GMT-4) America/Martinique
        </option>

        <option value="-4">
            (GMT-4) America/Montserrat
        </option>

        <option value="-4">
            (GMT-4) America/Nassau
        </option>

        <option value="-4">
            (GMT-4) America/Port-au-Prince
        </option>

        <option value="-4">
            (GMT-4) America/Port_of_Spain
        </option>

        <option value="-4">
            (GMT-4) America/Porto_Velho
        </option>

        <option value="-4">
            (GMT-4) America/Puerto_Rico
        </option>

        <option value="-4">
            (GMT-4) America/Santiago
        </option>

        <option value="-4">
            (GMT-4) America/Santo_Domingo
        </option>

        <option value="-4">
            (GMT-4) America/St_Barthelemy
        </option>

        <option value="-4">
            (GMT-4) America/St_Kitts
        </option>

        <option value="-4">
            (GMT-4) America/St_Lucia
        </option>

        <option value="-4">
            (GMT-4) America/St_Thomas
        </option>

        <option value="-4">
            (GMT-4) America/St_Vincent
        </option>

        <option value="-4">
            (GMT-4) America/Tortola
        </option>

        <option value="-4">
            (GMT-4) Antarctica/Palmer
        </option>

        <option value="-4.5">
            (GMT-4.5)
        </option>

        <option value="-4.5">
            (GMT-4.5) America/Caracas
        </option>

        <option value="-5">
            (GMT-5) (Central Time Zone) CDT
        </option>

        <option value="-5">
            (GMT-5) America/Bahia_Banderas
        </option>

        <option value="-5">
            (GMT-5) America/Bogota
        </option>

        <option value="-5">
            (GMT-5) America/Cancun
        </option>

        <option value="-5">
            (GMT-5) America/Cayman
        </option>

        <option value="-5">
            (GMT-5) America/Eirunepe
        </option>

        <option value="-5">
            (GMT-5) America/Guayaquil
        </option>

        <option value="-5">
            (GMT-5) America/Jamaica
        </option>

        <option value="-5">
            (GMT-5) America/Lima
        </option>

        <option value="-5">
            (GMT-5) America/Matamoros
        </option>

        <option value="-5">
            (GMT-5) America/Merida
        </option>

        <option value="-5">
            (GMT-5) America/Mexico_City
        </option>

        <option value="-5">
            (GMT-5) America/Monterrey
        </option>

        <option value="-5">
            (GMT-5) America/Panama
        </option>

        <option value="-5">
            (GMT-5) America/Rio_Branco
        </option>

        <option value="-6">
            (GMT-6) (Mountain Time Zone MDT)
        </option>

        <option value="-6">
            (GMT-6) America/Belize
        </option>

        <option value="-6">
            (GMT-6) America/Chihuahua
        </option>

        <option value="-6">
            (GMT-6) America/Costa_Rica
        </option>

        <option value="-6">
            (GMT-6) America/El_Salvador
        </option>

        <option value="-6">
            (GMT-6) America/Guatemala
        </option>

        <option value="-6">
            (GMT-6) America/Managua
        </option>

        <option value="-6">
            (GMT-6) America/Mazatlan
        </option>

        <option value="-6">
            (GMT-6) America/Ojinaga
        </option>

        <option value="-6">
            (GMT-6) America/Tegucigalpa
        </option>

        <option value="-6">
            (GMT-6) Pacific/Easter
        </option>

        <option value="-6">
            (GMT-6) Pacific/Galapagos
        </option>

        <option value="-7">
            (GMT-7) (Pacific Time Zone)
        </option>

        <option value="-7">
            (GMT-7) America/Hermosillo
        </option>

        <option value="-7">
            (GMT-7) America/Santa_Isabel
        </option>

        <option value="-7">
            (GMT-7) America/Tijuana
        </option>

        <option value="-8">
            (GMT-8) Pacific/Pitcairn
        </option>

        <option value="-9">
            (GMT-9) Pacific/Gambier
        </option>

        <option value="-9.5">
            (GMT-9.5) Pacific/Marquesas
        </option>
    </select>
