{% extends 'layouts/application.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}

  <div class="container-fluid">
      <div class="row sep-top-xs" id="typer-container">
            <div class="col-md-8 col-md-offset-2">
              <div class="text-center">
                <h2 id="typer" class="main-title">Inbound Marketing and A/B Testing Software</h2>
              </div>
            </div>
          </div>
      <section id="about" class="sep-top-xs sep-bottom-xs">
        <div class="container">
          <div class="row">
            <div class="col-md-5 text-left">
              <div class="sep-top-md sep-bottom-sm">
                <div class="section-title">
                  <h2 class="upper">Improve your Marketing <span class="label-colored">Sign up for Free</span></h2>
                </div>
                <div style="max-width: 400px;">

                     <form action="/signup" method="POST">

                      <p>
                        <input type="text" name="email" class="form-control" placeholder="Email address" value="{{form.email}}" autofocus>
                      </p>
                      <p>
                        <input type="password" name="password" class="form-control" placeholder="Password">
                      </p>
                      <button class="btn btn-lg btn-primary btn-block bounceInLeft animated" type="submit">Sign Up</button>
                    </form>
                  <hr>
                  <p class="text-center">
                    <a href="/login" class="hp-link">Login here</a> or <a class="hp-link" href="/forgot">forgot password?</a>
                  </p>
                </div>

              </div>
            </div>
            <div class="col-md-7">
              <div data-device="macbook" data-orientation="landscape" data-color="black" class="device-mockup">
                <div class="device">
                  <div class="screen"><img src="http://www.fillmurray.com/600/400" alt="" width="577" height="433" class="img-responsive"></div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>
</div>
<div class="container-fluid full-width-container">
      <div class="bg-primary">
        <div class="container">
          <div id="timer-wrapper" class="row">
            <div class="col-md-3 text-center sep-top-md sep-bottom-md"><span data-from="0" data-to="987" data-speed="2500" data-refresh-interval="50" class="timer light">20,000</span>
              <p class="lead x2 light upper timer-title">Landing Pages Created</p>
              <p class="light lighter">orci magna rhoncus neque</p>
            </div>
            <div class="col-md-3 text-center sep-top-md sep-bottom-md"><span data-from="0" data-to="40" data-speed="2500" data-refresh-interval="50" class="timer light">40</span>
              <p class="lead x2 light upper timer-title">Broken Monitors</p>
              <p class="light lighter">orci magna rhoncus neque</p>
            </div>
            <div class="col-md-3 text-center sep-top-md sep-bottom-md"><span data-from="0" data-to="4326" data-speed="2500" data-refresh-interval="50" class="timer light">4326</span>
              <p class="lead x2 light upper timer-title">Photos Taken</p>
              <p class="light lighter">orci magna rhoncus neque</p>
            </div>
            <div class="col-md-3 text-center sep-top-md sep-bottom-md"><span data-from="0" data-to="375224" data-speed="2500" data-refresh-interval="50" class="timer light">375224</span>
              <p class="lead x2 light upper timer-title">Mouse Clicks</p>
              <p class="light lighter">orci magna rhoncus neque</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

{% endblock %}
