<!doctype html>
<html>
  <head>
    <title>Inbound Now API</title>
    <link href='/custom.css' rel="stylesheet">
    <link href='/main.css' rel="stylesheet">
  </head>
  <body class="complete">
    <div id="react-main-mount" class="varyio">
      <%- reactOutput %>
    </div>

  <script src="/app.js"></script>

  </body>
</html>
