<!doctype html>
<html>
<head>
	<title>Stripe Payment</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

	
<form action="/charge" method="POST">
	<script
		src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
		data-amount="2000"
		data-name="Demo Site"
		data-description="2 widgets ($20.00)"
		data-image="/128x128.png">
	</script>
</form>

	


	<hr>
	

</div>
</div>
</body>
</html>